.button {
  padding: 0 24px;
  border: none;
}

.avatarIcon {
  background-color: cadetblue;
}

.menuItem {
  list-style: none;
  padding: 14px;
  text-align: center;
}

.menu {
  margin-top: 5px;
  background-color: lightgrey;
  border-radius: 5px;
}
