.avatarIcon {
  background-color: cadetblue;
}

.menuItem {
  list-style: none;
  padding: 8px;
  text-align: center;
  background-color: gray;
}

.menu {
  position: fixed;
  margin-top: 8px;
  border-radius: 5px;
}
