@import '../../styles/variables.module.scss';

.formButton {
  background-color: $mainColor;
  color: cadetblue;
  font-weight: bolder;
}

.success {
  color: $mainColor;
}

.failure {
  color: red;
}
